.navbar, .navbar-default {
  background-color: white;
}

#titleBlock h1 {
  text-align: center;
}

#titleBlock {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}