
.navbar, .navbar-default {
  background-color: white;
}

.nav{
  background-color: gray;
}

#titleBlock h1 {
  text-align: center;
}

#titleBlock h3 {
  font-weight: 100;
}

#titleBlock, #missionBlock, #aboutUsBlock {
  height: 100vh;
  width: 100vw;
}

#titleBlock {
  background: url('./img/marble.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;

}

#missionBlock {
  text-align: center;
  padding-top: 50px;
  background-color: #4D85AC;
  color: whitesmoke;
  height: 70vh;
}

#missionBlock p {
  text-align: left;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: 200;
}


#impactBlock {
  text-align: center;
  padding-top: 50px;
  background-color: #ffae19;
  color: whitesmoke;
  height: 70vh;
}

#impactBlock p {
  text-align: left;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: 200;
}


#aboutUsBlock {
  height: 120vh;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10em;
}

/* #spsTitle {
  margin-bottom: 50px;
} */

.cardContainer {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 20px;
  display: flex;
}

.cardContainer div {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

#footerBlock {
  padding-top: 10px;
  width: 100vw;
  background-color: #4D85AC;
  color: whitesmoke;
  height: 30vh;
  padding-top: 5vh;
}

#footerBlock h1 {
  text-align: center;
}

#footerBlock p {
  margin-left: 10vw;
  margin-right: 10vw;
}

#socialMediaContainer {
  display: flex;
  justify-content: center;
}

#socialMediaContainer i {
  margin-left: 20px;
  margin-right: 20px;
}

#socialMediaContainer a {
  color: white;
}

#socialMediaContainer a:hover {
  color: black;
}

.nav-item a {
  margin-left: 20px;
  color: whitesmoke;
}

.nav-item a:hover {
  color: #4D85AC;
  text-decoration: none;
}

#lined{
  word-break: none;
}



#center{
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
  float: right;
  margin-right: 40px;
}

h3{
  margin-left: 30px;
}

.flex-container{
  display: flex;
}

#product-description{
  /* text-align: right; */
  margin-left: 3rem;
  margin-right: 1rem;
  margin-top: 200px;
  width: 300px;
}

#round{
  border-radius: 25px; 
}
